body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 20px;
  background: #DCCCAC
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #546B41;
  display: flex;
  justify-content: center;
}
ul li {
  float: none；
}

ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center; 
}

ul li a:hover {
  background-color: #99AD7A;

}

h1,p{
  font-family: cursive;
  margin: 30px;
  text-align: center; 
}

.primary{
display: block; 
margin: auto;
padding: auto;
width: 400px;
height: 400px;
}

.secondary{
display: block; 
margin: auto;
padding: auto;
width: 400px;
height: 400px;
}

.STPM{
display: block; 
margin: auto;
padding: auto;
width: 400px;
height: 400px;
}

.unimap{
display: block; 
margin: auto;
padding: auto;
width: 400px;
height: 400px;
}

* {
  box-sizing: border-box;
}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:   rgb(255, 255, 255);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #99ad7a;
  border: 4px solid #3b5336;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  .right {
  left: 0%;
  }
}

ul li {
  position: relative;
  display: inline-block; 
}

.dropdown-menu {
  position: absolute;
  top: 100%;       
  left: 50%;       
  transform: translateX(-50%) translateY(-10px); 
  background-color: #3b5336; 
  min-width: 150px;
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  
  opacity: 050;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index:100;
}

.dropdown-menu a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: center;
  transition: background 0.2s;
}


.dropdown-menu a:hover {
  background-color: #6B8E23; 
}

.has-dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0); 
}